@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

:root {
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;

  --space-300: 24px;
  --space-150: 12px;
  --space-100: 8px;
  --space-50: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  background-color: var(--yellow);
  color: var(--gray-950);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-extra-bold {
  font-weight: 800;
  font-size: 24px;
}
.text-medium {
  font-weight: 500;
  font-size: 16px;
}
.text-small {
  font-weight: 500;
  font-size: 14px;
}
.text-small-bold {
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0px;
}

.tag {
  display: inline;
  background-color: var(--yellow);
  padding: var(--space-50) var(--space-150);
  border-radius: 4px;
}

.image {
  border-radius: 10px;
}

.card {
  padding: var(--space-300);
  border-radius: 20px;
  background-color: white;
  box-shadow: 8px 8px 0px var(--gray-950);
  width: 384px;
  border: 1px solid var(--gray-950);
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  align-items: start;
  justify-content: start;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: var(--space-150);
}

.color-gray-500 {
  color: var(--gray-500);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
  align-items: start;
  justify-content: start;
}

.hover-yellow:hover,
.hover-yellow:focus,
.hover-yellow:active {
  color: var(--yellow);
  cursor: pointer;
}
